<ion-header>
  <ion-toolbar>
    <ion-title>list-wine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/wine.jpg" style="width:'350'; height:'140'"></ion-img>
      <ion-card-header>
        <ion-card-title>Benvenuto in ChooseYourWine </ion-card-title>
      </ion-card-header>
    </ion-card>
            <div class="grid-full">
              <ion-row>
                <ion-col *ngFor='let vino of vini'>
                  <ion-card >
                      <ion-img class="imageWine"  src={{vino.immagine}}></ion-img>
                    <ion-card-title>{{vino.denominazione}}</ion-card-title>
                  </ion-card>
                </ion-col> 
              </ion-row>
            </div>
  </ion-content>
  