@media screen and (max-width: 800px) {
 
}

@media screen and (max-width: 400px) {

}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}


.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
}

h1{
  margin-top: 5%;
  margin-bottom: 30px;
}

.button{
  color: black;
  --background: #d8d8d8;	
  --border-color: #d8d8d8;
  --background-activated: #d8d8d8;
  --background-hover: #ececec; 
  --border-radius:10px;
}

.grid-full ion-col {
  margin: auto;
  flex: 0 0 50%;
  max-width: 25%;
  max-height: 25%;
  padding: 5px 0;
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  display: block;
  font-weight: bold;
  text-shadow: -1px 2px 2px black;
  color:white;
}

.show-card ion-img {
  max-height: 50vh;
  max-width: 50vh;
  overflow: hidden;
}

.imageWine{
  height: 300px;
    width: 300px;
    margin: auto;
}