.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
}

h1{
  margin-top: 20px;
  margin-bottom: 30px;
}

.button{
  color: black;
  --background: #d8d8d8;	
  --border-color: #d8d8d8;
  --background-activated: #d8d8d8;
  --background-hover: #ececec; 
  --border-radius:10px;
}

.show-card ion-img {
  max-height: 50vh;
  max-width: 50vh;
  overflow: hidden;
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color:white;
}

.grid-full ion-col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px 0;
}

.imageWine{
  height: auto;
  width: auto;
  margin: auto;
  margin-bottom: 3px;
}