<ion-header>
  <ion-toolbar>
    <ion-title>
      ChooseYourWine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/wine.jpg" style="width:'350'; height:'140'"></ion-img>
      <ion-card-header>
        <ion-card-title>Benvenuto in ChooseYourWine </ion-card-title>
      </ion-card-header>
    </ion-card>



      <ion-list-header> <ion-label> <h1> Consigliati </h1></ion-label> </ion-list-header>

  
      <ion-item *ngFor='let vino of vini'>{{vino}}</ion-item>

  

    <button ion-button (click)="getAllWines()">getAllWines</button> <br>
    <a routerLink="/tabs/wine-details">HAI ROTTO IL CAZZO</a>

</ion-content>
