<ion-header>
    <ion-toolbar>
      <ion-title>
        Dettagli vino 
      </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content text-center>
    <ion-card class="welcome-card">
        <ion-img src="/assets/images/wine.jpg" style="width:'350'; height:'140'"></ion-img>
        <ion-card-header>
          <ion-card-title>Benvenuto in ChooseYourWine </ion-card-title>
        </ion-card-header>
      </ion-card>
    <ion-item>
        <ion-label  class="nameWine" *ngFor='let denom of denominazione'> {{denom}} </ion-label> 
    </ion-item>
  <ion-row>
    <ion-col col-auto>
      <table>
        <tr>
          <td>
              <ion-item lines="none">
                  <ion-img class="imageWine" *ngFor='let im of immagine' src={{im}}></ion-img>
              </ion-item>
              <ion-item lines="none">
                
                <ion-img class="imageChalice" *ngFor='let c of calice' src={{c.immagineCalice}}></ion-img>
              </ion-item>  
          </td>
          <td>
              <ion-item>
                  <ion-label> Luogo: </ion-label>
                  <ion-label *ngFor='let l of luogo'> {{l}} </ion-label>
              </ion-item>
              <ion-item>
                  <ion-label> Produttore: </ion-label>
                  <ion-label *ngFor='let prod of produttore'> {{prod}} </ion-label> 
              </ion-item>
              <ion-item>
                  <ion-label> Tipologia: </ion-label>
                  <ion-label *ngFor='let tip of tipologia'> {{tip}} </ion-label> 
              </ion-item>
              <ion-item>
                  <ion-label> Annata: </ion-label>
                  <ion-label *ngFor='let ann of annata'> {{ann}} </ion-label>
              </ion-item>
              <ion-item>
                  <ion-label> Vitigno: </ion-label>
                  <ion-label *ngFor='let vit of vitigno'> {{vit}} </ion-label>
              </ion-item>
              <ion-item>
                  <ion-label> Gradazione: </ion-label>
                  <ion-label *ngFor='let grad of gradazione'> {{grad}}% </ion-label> 
              </ion-item>
              <ion-item>
                  <ion-label> Temperatura <br>di servizio: </ion-label>
                  <ion-label *ngFor='let temp of temperaturaServizio'> {{temp}} </ion-label> 
              </ion-item>
              <ion-item>
                  <ion-label> Calice: </ion-label>
                  <ion-label *ngFor='let c of calice'>{{c.calice}}</ion-label>
              </ion-item>
          </td>
        </tr>
      </table>
    </ion-col>
  </ion-row>

  <div text-center>
      <ion-button *ngFor='let denom of denominazione' (click)=showPairings(denom)> Abbinamenti </ion-button>
  </div>

</ion-content>
  