<ion-header>
    <ion-toolbar>
      <ion-title>
        Dettagli vino 
      </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <ion-item>
        <ion-label class="nameWine"> Montefalco Rosso </ion-label>
        <!-- <ion-label  class="nameWine"> {{vini.denominazione}} </ion-label> -->
    </ion-item>
  <ion-row>
    <ion-col col-auto>
      <table>
        <tr>
          <td>
              <ion-item lines="none">
                  <ion-img class="imageWine" src="/assets/images/wines/MontefalcoRosso.png"></ion-img>
                  <!-- <ion-img [src]="vini.immagine"></ion-img> -->
              </ion-item>
              <ion-item lines="none">
                
                <ion-img class="imageChalice" src="/assets/images/chalices/Ballon.png"></ion-img>
                <!--<ion-label> {{ vini.calice }} </ion-label> -->
              </ion-item>  
          </td>
          <td>
              <ion-item>
                  <ion-label> Luogo: </ion-label>
                  <ion-label> Umbria </ion-label>
                  <!--<ion-label> {{ vini.luogo }} </ion-label> -->
              </ion-item>
              <ion-item>
                  <ion-label> Produttore: </ion-label>
                  <ion-label> Arnaldo-Caprari </ion-label>
                  <!--<ion-label> {{ vini.produttore }} </ion-label> -->
              </ion-item>
              <ion-item>
                  <ion-label> Tipologia: </ion-label>
                  <ion-label> rosso </ion-label>
                  <!--<ion-label> {{ vini.tipologia }} </ion-label> -->
              </ion-item>
              <ion-item>
                  <ion-label> Annata: </ion-label>
                  <ion-label> 2016 </ion-label>
                  <!--<ion-label> {{ vini.annata }} </ion-label> -->
              </ion-item>
              <ion-item>
                  <ion-label> Vigneto: </ion-label>
                  <ion-label> Sangiovese </ion-label>
                  <!--<ion-label> {{ vini.vigneto }} </ion-label> -->
              </ion-item>
              <ion-item>
                  <ion-label> Gradazione: </ion-label>
                  <ion-label> 13 C° </ion-label>
                  <!--<ion-label> {{ vini.gradazione }} </ion-label> -->
              </ion-item>
              <ion-item>
                  <ion-label> Temperatura di servizio: </ion-label>
                  <ion-label> 16-18 C° </ion-label>
                  <!--<ion-label> {{ vini.temperaturaServizio }} </ion-label> -->
              </ion-item>
          </td>
        </tr>
      </table>
    </ion-col>
  </ion-row>
  <!-- <ion-button (click)=showFoodPairings(vino.)> Abbinamento </ion-button> -->
  <div text-center>
      <ion-button class="button"> Abbinamenti </ion-button>
   </div>
  
</ion-content>
  