<ion-header>
  <ion-toolbar>
    <ion-title>
      Ricerca un vino
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/images/wine.jpg" style="width:'350'; height:'140'"></ion-img>
            <ion-card-header>
                <ion-card-title>Benvenuto in ChooseYourWine </ion-card-title>
            </ion-card-header>
    </ion-card>
    
    <ion-row>
        <ion-col col-auto>
            <table>
                <tr>
                    <td>
                        <ion-img class="wine_icon" src="/assets/icon/wine_icon.png"> </ion-img>
                    </td>
                    <td>
                        <ion-searchbar animated placeholder="nome vino"></ion-searchbar>
                    </td>
                    <td>
                        <ion-img class="search_icon" src="/assets/icon/search.png" (click)="search()" > </ion-img>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ion-list *ngFor='let vino of vini'>
                            <ion-item (click)=showWine(vino)>{{vino}}</ion-item>
                        </ion-list>
                    </td>
                </tr>
            </table>
        </ion-col>
     </ion-row>
  
</ion-content>
