<ion-header>
  <ion-toolbar>
    <ion-title>Abbinamenti vino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/images/wine.jpg" style="width:'350'; height:'140'"></ion-img>
        <ion-card-header>
          <ion-card-title>Benvenuto in ChooseYourWine </ion-card-title>
        </ion-card-header>
      </ion-card>
<h1>Cibi abbinati a {{v}}</h1>
<div class="grid-full">
  <ion-row>
    <ion-col *ngFor='let cibo of cibi'>
      <ion-card >
          <ion-img class="imageWine"  src={{cibo.immagine}}></ion-img>
        <ion-card-title>{{cibo.nome}}</ion-card-title>
      </ion-card>
    </ion-col> 
  </ion-row>
</div>

</ion-content>
