.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}
  
h1{
    margin-top: 20px;
    margin-bottom: 30px;
}

.imageFood{
    height: 300px;
    width: 300px;
    margin: auto;
}

.grid-full ion-col {
    margin: auto;
    flex: 0 0 50%;
    max-width: 25%;
    max-height: 25%;
    padding: 5px 0;
}

.card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    display: block;
    font-weight: bold;
    text-shadow: -1px 1px 1px black;
    color:white;
  }

 .show-card ion-img {
    max-height: 50vh;
    max-width: 50vh;
    overflow: hidden;
  }