<ion-header>
  <ion-toolbar>
    <ion-title>Abbinamenti cibo-vini</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content text-center>
  
  <ion-card class="welcome-card">
    <ion-img src="/assets/images/wine.jpg" style="width:'350'; height:'140'"></ion-img>
    <ion-card-header>
      <ion-card-title>Benvenuto in ChooseYourWine </ion-card-title>
    </ion-card-header>
  </ion-card>

  <h1> Abbinamenti cibo - vino </h1>

    <ion-row>
        <ion-col>
            <table>
              <tr *ngFor='let cibo of abbina'>
                <td>
                   <!-- Nome cibo  --> 
                   <ion-label class="nameWine"> {{cibo.nome}} </ion-label>
                </td>
                <td>
                   <!-- Immagine cibo  --> 
                   <ion-img class="imageWine" src={{cibo.immagine}}></ion-img> 
                </td>
                
                <td>
                   <!-- Lista vini --> 
                   <ion-button class="button" (click)=showWine(cibo.nome)> Lista vini </ion-button>   
                </td>
              </tr>
            </table>
        </ion-col>
    </ion-row>

  <!--<div class="grid-full">
    <ion-row>
      <ion-col *ngFor='let cibo of abbina'>
        <ion-card (click)="showWine(cibo)">
          <img class="imageChalice" src="/assets/images/chalices/Ballon.png" />
          <ion-card-title>{{cibo}}</ion-card-title>
        </ion-card>
      </ion-col> 
    </ion-row>
  </div>-->
  
</ion-content>
