.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

table {
    width:20%;
    height: 20%;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;  
}

h1{
    margin-top: 5%;
    margin-bottom: 30px;
}

.imageChalice{
    height: 100px;
    width: 100px;
    margin: auto;
}

.imageFood{
    height: 250px;
    width: 250px;
    margin: 20px;
    border-radius: 50%;
}

.nameWine{
    font-size: 25px;
    margin-top: 3%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button{
    color: black;
    --background: #d8d8d8;	
    --border-color: #d8d8d8;
    --background-activated: #d8d8d8;
    --background-hover: #ececec; 
    --border-radius:10px;
}
  .grid-full ion-col {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 5px 0;
  }
  .row {
      padding: 0;
  }
  .col {
      padding: 5px 0;
  }
  .card {
      margin: 0 0 0 12px;
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
      border-radius: 4px;
      h1 {
          font-weight: 400;
          font-size: 3.5rem;
      }
      p {
          font-weight: 100;
          font-size: 1.5rem;
      }
  }